body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

*{
  box-sizing: border-box;
  padding: 0;
}

.app-messenger {
  display: flex;
  flex-direction: column;
}

.header {
  border-bottom: 1px solid hsl(240, 5%, 90%);
  height: 50px;
  display: flex;
  flex-direction: row;
}

.header-left {
  width: 20%;

}

.new-msg {
  height: 20px;
  width: 100px;
  margin: 13px 0px 0px 10px;
}


.header-content {
  width: 70%;
}

h2 {
  padding-top: 10px;
  padding-left: 50%;
  margin: 0;
  font-weight: 100;
}


.main {
  display: flex;
  height: 100%; 
}

.sidebar-left {
  width: 23%;
  border-right: 1px solid hsl(240, 5%, 90%);
  overflow-y: auto;
}

.usr-channel {
  height: 13%;
  
  border-bottom: 1px solid hsl(240, 5%, 90%);
  display: flex;
}


.channel-body {
  padding: 12px;
}

.channel-body-after {
  color: pink;
  padding: 12px;
}

.channel-img img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 10px 10px 10px 10px; 
}

.channel-usr h5 {
  margin: auto 0;
  padding-bottom: 10px;

}

.channel-latest p {
  margin: auto 0;
  font-size: 14px;
  font-weight: 100;
  color: hsl(240, 5%, 70%);
}



.content {
  flex-grow: 1;
  
  display: flex;
  flex-direction: column;
  
}

.messages {
  height: 85%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-bottom: 10px;
  
}

.ur-message {
  display: flex;
  margin: 10px 0px 10px 10px;
  width: 40%;
  
}

.my-message {
  justify-content: flex-end;
  display: flex;
  
  margin: 10px 10px 10px 0px;
}

.usr-img img {
  height: 30px;
  width: 30px;
  border-radius: 50%;

}

.msg-body {
  font-size: 10px;
  padding-left: 10px;

}

.msg-author {
  margin-bottom: 5px;
}

.msg-txt.ur {
  background: #F1F0F0;
  color: #000000;
  font-size: 12px;

  padding: 10px;
  border: 10px;
  border-radius: 10px;
}

.msg-txt.my {
  background: #E48586;
  color: #FFFFFF;
  font-size: 12px;

  padding: 10px;
  border: 10px;
  border-radius: 10px;
}



.input-place {
  border-top: 1px solid hsl(240, 5%, 90%);
  height: 15%;
  display: flex;
}

.input-msg {
  border: None;
  width: 100%;
  height: 100%;
  padding: 10px 10px;
  font-size: 15px;
}

.send-btn{
  width: 12%;
  height: 100%;
  background-color: #E48586;
  color: #FFFFFF; 
  font-size: 20px;
  font-weight: 100em;
}
